

.big_section_1_box{
    width: 100%;
    min-height: 555px;
    background: url('../../public/Image/section1_background.png');
    background-repeat: no-repeat;
    background-position-x:     background-position:right center;
    ;
   
}