@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
$colorButtons: #02897a;


.backgrount_filter{
    background-color: transparent;
}
.tProducts {
    background:turquoise;
    color: #fff;
    border-radius: 3px
}
.search_button_header{
    background-color:#6c757d;
    color: white;
}