

.big_section_1_box{
    width: 100%;
    min-height: 620px;
    background: url('../../../public/Image/section1_background.png');
    background-repeat: no-repeat;
    background-position:right center;
}

.section1_text{
    padding-top: 145px;
}