$colorButtons: #02897a;

// Header

.Sign_In_btn {
    background-color: transparent;
    width: 102px;
    height: 43px;
    margin-left: 24px;
    border: 1px solid $colorButtons;
}
.Sign_Up_btn {
    width: 102px;
    height: 43px;
    border-radius: 5px;
    background-color: $colorButtons;
    margin: 0 24px;
}
.ulLi>li>a:hover{
    color: wheat !important;
}