$colorButtons: #02897a;

// Header

.Sign_In_btn {
    background-color: transparent;
    width: 102px;
    height: 43px;
    border: ;
}
.Sign_Up_btn {
    width: 102px;
    height: 43px;
    border-radius: 5px;
    background-color: $colorButtons;
    
}
