$colorButtons: #02897a;

// Header
.headers {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.767);
}
.header {
    box-shadow: 0px -1px 30.1px 0.9px rgb(56 61 61 / 82%);
}
.Sign_In_btn {
    background-color: transparent;
    width: 102px;
    height: 43px;
    margin-left: 55px;
    border: 1px solid $colorButtons;
    &:hover {
        background: $colorButtons;
        transform: scale(1.05);
        color: white;
    }
}
.img_logo {
    width: 100px !important;
    height: 80px !important;
}
.Sign_Up_btn {
    width: 102px;
    height: 43px;
    border-radius: 5px;
    background-color: $colorButtons;
    margin: 0 24px;
  
}
.ulLi > li > a{
    margin-left: 50px !important;
}
.ulLi > li > a:hover {
    color: $colorButtons !important;
}
.Menu_item_margin{
    width: 70%;
}


// dropdownsubmenu

.dropdownsubmenu{
    position: relative;
}
// .dropdownsubmenu a::after{
//     transform: rotate(-90deg);
//     position: absolute;
//     right: 3px;
//     top: 40%;
// }
// .dropdownsubmenu:hover .dropdownmenu, .dropdownsubmenu:focus .dropdownmenu{
//     display: flex;
//     flex-direction: column;
//     position: absolute !important;
//     margin-top: -30px;
//     left: 100%;
// }






.dropdownsubmenu a::after{
    content:"\27A7";
    position: absolute;
    right: 3px;
    top: 40%;
}
























.dropdownsubmenu:hover .dropdownmenu, .dropdownsubmenu:focus .dropdownmenu{
   
        content:"\27A8";
        position: absolute;
        
    
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: 0px;
    left: 29%;
}
@media (max-width: 992px) {
    .dropdownmenu{
        width: 50%;
    }
    .dropdownmenu .dropdownsubmenu{
        width: auto;
    }
}