
.big_section_4_box {
    width: 100%;
    min-height: 704px;
    background: url("../../../public/Image/section4_background.png");
    background-repeat: no-repeat;
    background-position: left center;
    
}

.sadads{
    width: 100% !im;
}