@mixin with-theme($theme) {
    @at-root body.theme-#{$theme} & {
        @content;
    }
}

@mixin light-theme() {
    @at-root body.theme-light & {
        @content;
    }
}

@mixin dark-theme() {
    @at-root body.theme-dark & {
        @content;
    }
}


.big_section_1_box {
    width: 100%;
    min-height: 620px;
    background: url("../../../public/Image/section1_background.png");
    background-repeat: no-repeat;
    background-position: right center;
    @include light-theme {
        background-color: red !important;
    }
    @include dark-theme {
        background-color: blue !important;
    }
}