$colorButtons: #02897a;
//Dark_mode



.big_section_3_box {
    width: 100%;
    min-height: 704px;
    background: url("../../../public/Image/section3_background_image.png");
    background-repeat: no-repeat;
    background-position: right center;
    
}

.section_3_text{
    font-size: 14px;
}
@media (max-width: 2100px) {
    .big_section_3_box {
        background-position:top center;
    }
    .mediaInText_section3{
        margin-top: 500px;
        text-align: center;
    }
    
}

@media (max-width: 1100px) {
    .big_section_3_box {
        background-position:top center;
    }
    .mediaInText_section3{
        margin-top: 500px;
        text-align: center;
    }
    
}