$colorButtons: #02897a;
//Dark_mode



.big_section_3_box {
    width: 100%;
    min-height: 543px;
    background:#FFFFFF;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}
