$colorButtons: #02897a;
//Dark_mode



.big_section_2_box {
    width: 100%;
    min-height: height: 543px;
    ;
    background: url("../../../public/Image/section2_bg.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
