$colorButtons: #02897a;
//Dark_mode



.big_section_2_box {
    width: 100%;
    min-height: 620px;
    background: url("../../../public/Image/section2_bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    bac
}
