$colorButtons: #02897a;
//Dark_mode



.big_section_2_box {
    width: 100%;
    min-height: 543px;
    background: url("../../../public/Image/section2_bg.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}


.Section2_boxes{
    height: 204px;
    background-color: transparent !important;
}

.btn_section2{
    width:175px;
    height :53px;
    background-color: $colorButtons;
    color: white;
}
