$colorButtons: #02897a;
//Dark_mode



.big_section_6_box {
    width: 100%;
    min-height: 500px;
    background: url("../../../public/Image/BgSection6.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}

.avatar_setting{
    border-radius: 7px;
    background-color: #FFFFFF;
    margin: 0 20px;
}
.btn_section2{
    width:175px;
    height :43px;
    background-color: $colorButtons;
    color: white;
    &:hover{
        color: #F2F2F2;
    }
}


@media (max-width: 1100px) {

    .avatar_setting{
        border-radius: 7px;
        background-color: #e8e8e8;
        margin: 0 0;
    }
    
}